//Utilities
@import '../../styles/utilities/variables.scss';

button {
  background: none;
  border-radius: 50px !important;

  width: 100%;
  padding: 0.5rem 0;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 0.9rem !important;
  font-weight:600;

  transition: all 0.2s ease;

  &.primary {
    background-color: $primary-color;
    color: #efefef;
    
    &:hover {
      background: darken($primary-color, 25%);
    }
  }
  &.outlined {
    background: #fff;
    border: 1px solid $border-color;
    color: $main-text;
    &:hover {
      background: darken(#fff, 5%);
    }
  }
  &.danger {
    background: #e43f39;
    border: 0;
    color: #efefef;
  }
  // &:not(:disabled):hover {
  //   filter: brightness(0.8);
  // }
  &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
  }

  &.transparent {
    background-color: transparent;
    color: $main-text;
  }

  &.hover-text-danger:hover {
    color: #e43f39;
  }

  &.small {
    width: 50%;
    height: 25px;
    font-size: 14px;
  }
}